<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="./angular.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefônica</title>



    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin: 20px auto;
        }
        .table {
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 10px;
        }

        .selecionado {
            background-color: yellow!important;
        }
        .negrito {
            font-weight: bold;
        }
    </style>
    <script>
        angular.module("listaTelefonica", [])
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app ="Lista Telefonica"
            $scope.contatos= [
                {nome: "Pedro", telefone: "8199559765"},
                {nome: "Ana", telefone: "8199550000"},
                {nome: "Joao", telefone: "8199559764"}
            ]
            $scope.operadoras = [
                {nome: "Oi", codigo: 14, categoria: "Celular"},
                {nome: "Vivo", codigo: 15, categoria: "Celular"},
                {nome: "Tim", codigo: 16, categoria: "Fixo"},
                {nome: "Claro", codigo: 17, categoria: "Fixo"},
            ]
            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(
                    angular.copy(contato)
                //    nome: $scope.nome,
                //    telefone: $scope.telefone,
                )
                delete $scope.contato
            }
            $scope.classe1 = "selecionado"
            $scope.classe2 = "negrito"
            $scope.apagarContato = function (contatos) {
              
            $scope.contatos = contatos.filter(function(contato) {
                if (!contato.selecionado) return contato
            })            
            }
            $scope.isContatoSelecionado = function(contatos) {
                return contatos.some(function(contato) {
                    return contato.selecionado
                })
                console.log(isContatoSelecionado)
            }
        })

    </script>

</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h4 ng-bind="app"></h4>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-class="{'negrito selecionado': contato.selecionado}" ng-repeat="contato in contatos">
        <!--    <tr ng-class="[classe1, classe2]" ng-repeat="contato in contatos">
            <td> {{contato.nome}}</td> --> 
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td ng-bind="contato.nome"></td>
                <td ng-bind="contato.telefone"></td>
                <td ng-bind="contato.operadora.nome"></td>
            </tr>
        <!--
            <tr ng-repeat="contato in contatos">
                <td ng-repeat="(key, value) in contato">
                    {{value}}
                </td>
                <td ></td>
            </tr>
        --> 
        </table>
        <hr/>
        <!-- {{contato}}-->
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">

        <select class="form-control"  ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">- Selecione uma operadora -</option>
        </select>

        <button class="btn btn-primary btn-block" ng-disabled="!contato.nome || !contato.telefone"  ng-click="adicionarContato(contato)">Acidionar contato</button>

        <button class="btn btn-danger btn-block" ng-disabled="!isContatoSelecionado(contatos)" ng-click="apagarContato(contatos)" >Apagar contato</button>
    </div>
</body>
</html>
