<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!--AngularJS CDN-->
    <script src="http://code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="http://code.angularjs.org/snapshot/angular-messages.js"></script>

    <!--Angular Pastas Locais.-->
    <script src="./angular.js"></script>
    <script src="./angular-messages.js"></script>
    <script src="./scripts.js"></script>
    <link rel="stylesheet" href="./styles.css">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Lista Telefônica</title>
</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h4 ng-bind="app"></h4>
        <table ng-show="contatos.length > 0" class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th>Status</th>
            </tr>
            <tr ng-class="{'negrito selecionado': contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado" /></td>
                <td ng-bind="contato.nome | uppercase"></td>
                <td ng-bind="contato.telefone"></td>
                <td ng-bind="contato.operadora.nome | lowercase"></td>
                <td>
                    <div class="simple-circle" ng-style="{'background': contato.cor}"></div>
                </td>
            </tr>
        </table>
        <hr />

        <form action="" name="contatoForm">
            <input class="form-control" name="nome" type="text" ng-model="contato.nome" placeholder="Nome"
                ng-required="true" ng-minlength="5" />
            <input class="form-control" name="telefone" type="text" ng-model="contato.telefone" placeholder="Telefone"
                ng-required="true" ng-maxlength="10" ng-pattern="/^\d{4,5}-\d{4}$/" />
            <select class="form-control" title="select" ng-model="contato.operadora"
                ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" ng-required="true">
                <option value="">- Selecione uma operadora -</option>
            </select>
            <select class="form-control" title="select" ng-model="contato.cor"
                ng-options="cor.valor as cor.nome for cor in cores" ng-required="true">
                <option value="">- Selecione uma cor -</option>
            </select>
        </form>
        <div ng-messages="contatoForm.nome.$error">
            <div ng-message="required" class="alert alert-danger">
                Preencha o campo nome.
            </div>
            <div ng-message="minlength" class="alert alert-danger">
                O nome deve ter no mínimo 5 caracteres.
            </div>
        </div>
        <div ng-messages="contatoForm.telefone.$error">
            <div ng-message="required" class="alert alert-danger">
                Preencha o campo telefone.
            </div>
            <div ng-message="maxlength" class="alert alert-danger">
                O telefone deve ter no máximo 10 caracteres.
            </div>
            <div ng-message="pattern" class="alert alert-danger">
                O telefone deve ter o formato 0000-0000
            </div>
        </div>
        <button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid"
            ng-click="adicionarContato(contato)">
            Acidionar contato
        </button>
        <button class="btn btn-danger btn-block" ng-if="isContatoSelecionado(contatos)"
            ng-click="apagarContato(contatos)">
            Apagar contato
        </button>
    </div>
    <div ng-include="'footer.html'"></div>
</body>

</html>